*{
    margin:0;
    padding: 0;   
}
.app {
    min-height: 100vh;
    background-color: #B91C1C;
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;
  }
  @media (max-width: 700px) {
    .app {
      padding-top: 70px;
    }
  }